<h1>Your Dashboard</h1>
<button id="new-post">New Post</button>

<form id="new-post-form" class="add-post-form" style="display: none;">
  <div>
    <label for="post-title">Title:</label>
    <input type="text" id="post-title" name="title" required />
  </div>
  <div>
    <label for="post-content">Content:</label>
    <textarea id="post-content" name="content" required></textarea>
  </div>
  <button type="submit">Add Post</button>
</form>

{{#each posts}}
  <article>
    <h2><a href="/post/{{id}}">{{title}}</a></h2>
    <p>Created on {{createdAt}}</p>
    <button class="delete-post" data-id="{{id}}">Delete</button>
    <button class="edit-post" data-id="{{id}}">Edit</button>
  </article>
{{else}}
  <p>No posts yet</p>
{{/each}}
